name: Build Tests

on:
  pull_request:
    branches: ["main"]
    types: [opened, synchronize]

jobs:
  build-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Unit Tests
        run: dotnet test ./UserIdentity.UnitTests/UserIdentity.UnitTests.csproj --settings ./UserIdentity.UnitTests/coverlet.runsettings --no-build --verbosity normal

      - name: Integration Tests
        run: dotnet test ./UserIdentity.IntegrationTests/UserIdentity.IntegrationTests.csproj --settings ./UserIdentity.IntegrationTests/coverlet.runsettings --no-build --verbosity normal
